.subtitulo-main{
  background-color: #Cambiar;
  color: #Cambiar;
  font-size: #Cambiar;
}
.imagen-main{
  width: #Cambiar;
  height: #Cambiar;
}
.imagen-footer{
  width: #Cambiar;
  height: #Cambiar;
}
#consejos{
  background-color: #Cambiar;
}
body{
  font-family: #Cambiar;
  text-align: center;
}
header{
  background-color: #Cambiar;
}
main{
  background-color: #Cambiar;
}
footer{
  background-color: #Cambiar;
}
h1{
  color: #Cambiar;
}
h2{
  color: #Cambiar;
}
p{
  text-align: justify;
}
ul{
  list-style-position: inside;
}
h2:hover{
  color: #Cambiar;
}
h1:hover{
  color: #Cambiar;
}
