.subtitulo-main{
  background-color: #Cambiar;
  color: #Cambiar;
  font-size: #Cambiar;
}
#consejos{
  background-color: #Cambiar;
}
body{
  font-family: #Cambiar;
  text-align: center;
}
header{
  background-color: #Cambiar;
}
main{
  background-color: #Cambiar;
}
footer{
  background-color: #Cambiar;
}
h1{
  color: #Cambiar;
}
h2{
  color: #Cambiar;
}
p{
  text-align: justify;
}
ul{
  font-style-position: inside;
}
